<!--Navigation bar-->
<div class="navbar navbar-dark navbar-expand-md fixed-top">
  <div class="container">
    <a class="brand nav-item" href="http://localhost:4200/homepage">EnvoScholar v2.0</a>

    <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon" style="color:rgb(128,128,128);" ></span>
    </button>

    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav flex-grow-1 justify-content-end">
        <li role="presentation">
          <a class="active" href="../src/ontology-treeview.html">Ontology</a>
        </li>
        <li role="presentation">
          <a class="active" href="http://localhost:4200/login" (click)="onLogout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!--end of Navigation bar-->
