<!-- Footer -->
  <div id="footer-div">
    <footer class="footer" style="background-color: rgba(0, 0, 0, 0.02); position:fixed;">
      <div class="container">

        <div class="row" style="margin-bottom: 10px;">
          <div class="col center-footer">
            <img src="./fiuscis.png" alt="FIU Logo" id="fiu-logo" />
          </div>

          <div class="col center-footer container concepts">
            <p class="maintext">Provide Feedback for EnvoScholar!</p>
            <button class="feedback searchbutton filter-button filters"
                    (click)="feedback()"
                    style="color:#B6862C;margin:0px;padding:10px 20px;border-radius:20px;"
                    >Feedback</button>
          </div>

          <div class="col center-footer">
            <p class="no-marg maintext">Florida International University</p>
            <p class="no-marg maintext">School of Computing and
Information Sciences</p>
            <p class="no-marg subtext" style="font-size:0.9em; margin-top:7px;">11200 SW 8th Street, Miami, FL 33199</p>
            <p class="no-marg subtext" style="font-size:0.9em;">Tel: 305-348-2744</p>
            <p style="font-size:1.3em; margin-top:6px;">
            <a href=""><i class="fa fa-facebook socials" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-twitter socials" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-instagram socials" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-youtube socials" aria-hidden="true"></i></a></p>
          </div>
        </div>

        <div class="row">
          <div class="col text-center">
            <p class="subtext small no-marg">Copyright © EnvoScholar 2019. All Rights Reserved.</p>
            <!-- <p class="text-muted small no-marg">Florida International University</p> -->
          </div>
        </div>

      </div>
    </footer>
  </div>
<!-- End of Footer -->
