svg {
	padding-left: 150px;
}
.node > rect {
  stroke-width: 2px;
  stroke: DarkGoldenrod;
  fill: #081E3F;
}

.node > text {
  pointer-events: none;
  font-family: sans-serif;
  fill: White;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
}

.link {
  stroke-width: 2px;
  stroke: lightgray;
}

div.tooltip {
    position: absolute;
    font: 18px sans-serif;
    background: lightSteelBlue ;
    border: 0px;
    border-radius: 8px;
	padding-left: 500px;
}
